.card-container {
  text-align: center;
  perspective: 90rem;
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: 0.1rem solid rgba(3, 41, 71, 0.548);
}

.card-container-title {
  font-size: 2.5rem;
  text-transform: uppercase;
}

.card-container-box {
  display: flex;
}

.card-container-info {
  box-shadow: 0rem 2rem 5rem;
  transform: rotateX(45deg) scale(0.7);
  transition: 1s all ease;
  padding: 1rem;
}

.card-container-info-title {
  font-size: 2rem;
}

.card-container-info:hover {
  transform: rotate(0deg) scale(1) translateY(10px);
  transition: 1s all ease;
}
