.text {
  margin: 1rem 0;
}

.material-icons {
  font-size: 3.5rem !important;
}

#icon-box {
  display: inline-block;
}

#text-hidden {
  display: none;
}

#icon-box:hover ~ #text-hidden {
  display: block;
}
