@import "_btn.scss";
@import "_slideshow.scss";
@import "_bubble.scss";
@import "_card.scss";
@import "_expand.scss";

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #5a94c0;
  font-family: "Poppins", sans-serif;
}

.container {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem;
  font-size: 1.5rem;
  align-items: center;
  text-align: center;
  color: #fff;
  padding: 0 12rem;
}

.container-top-title {
  font-size: 4rem;
  color: #fff;
  font-family: "Great Vibes", Helvetica, sans-serif;
  letter-spacing: 0.5rem;
  font-weight: bold;
  animation: 3s slide 0s forwards;
  transform: translateX(-100%);
}

@keyframes slide {
  to {
    transform: translateX(0);
  }
}

.example-header {
  font-size: 2.5rem;
  text-transform: uppercase;
  margin: 1rem 0;
  padding-top: 1rem;
  border-top: 0.1rem solid rgba(3, 41, 71, 0.548);
}

.example-header:hover,
.card-container-title:hover {
  animation: glow 1s infinite alternate;
  letter-spacing: 1.5rem;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #00d9ff,
      0 0 40px #00d9ff, 0 0 50px #00d9ff, 0 0 60px #00d9ff, 0 0 70px #00d9ff;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #3fcbe4, 0 0 40px #3fcbe4,
      0 0 50px #3fcbe4, 0 0 60px #3fcbe4, 0 0 70px #3fcbe4, 0 0 80px #3fcbe4;
  }
}

.pictures {
  display: flex;
}

.picture {
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 1.2rem;
  height: 40rem;
  margin: 1rem;
  padding: 1rem 2rem;
  z-index: 2;
  box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.6);
  transition: box-shadow 0.3s ease-out;
}
.picture:hover {
  box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.2);
}

.picture.one {
  background-image: url(img/seal.jpg);
}

.picture.two {
  background-image: url(img/jellyfish.jpg);
}

.picture.three {
  background-image: url(img/clown-fish.jpg);
}

p {
  font-size: 1.5rem;
}
