.btn,
.btn:link,
.btn:visited {
  color: #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: relative;
  text-decoration: none;
  margin: 1rem;
  padding: 1rem;
  font-size: 2rem;
  display: inline-block;
}

.btn:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-top: 1.5px solid #08e2ff;
  border-bottom: 1.5px solid #08e2ff;
  -webkit-transform: scale(0.5, 2);
          transform: scale(0.5, 2);
}

.btn:hover {
  letter-spacing: 2px;
}

.btn:hover:before {
  opacity: 1;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.btn:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: rgba(255, 255, 255, 0.1);
}

.btn:hover:after {
  opacity: 0;
}

.container-top-slides {
  width: 100vw;
  background-image: url(img/ocean.jpg);
  height: 35vh;
  background-size: cover;
  -webkit-animation: slideshow 20s infinite ease-in-out;
          animation: slideshow 20s infinite ease-in-out;
  margin-bottom: 2rem;
  position: relative;
  z-index: 2;
}

@-webkit-keyframes slideshow {
  25% {
    background: url(img/reef.jpeg);
    background-size: cover;
  }
  50% {
    background: url(img/wave.jpeg);
    background-size: cover;
  }
  75% {
    background: url(img/ocean2.jpeg);
    background-size: cover;
  }
  100% {
    background: url(img/ocean.jpg);
    background-size: cover;
  }
}

@keyframes slideshow {
  25% {
    background: url(img/reef.jpeg);
    background-size: cover;
  }
  50% {
    background: url(img/wave.jpeg);
    background-size: cover;
  }
  75% {
    background: url(img/ocean2.jpeg);
    background-size: cover;
  }
  100% {
    background: url(img/ocean.jpg);
    background-size: cover;
  }
}

.bubble {
  background-color: #e0eaee;
  width: 2rem;
  border-radius: 50%;
  position: absolute;
  height: 2rem;
  z-index: 1;
  opacity: 0.35;
}

.bubble.one {
  -webkit-animation: move 10s linear infinite, side 10s ease-in-out infinite alternate;
          animation: move 10s linear infinite, side 10s ease-in-out infinite alternate;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  left: 2rem;
}

.bubble.two {
  left: 20rem;
  -webkit-transform: scale(0.75);
          transform: scale(0.75);
  -webkit-animation: move 15s linear infinite, side 10s ease-in-out infinite alternate;
          animation: move 15s linear infinite, side 10s ease-in-out infinite alternate;
}

.bubble.three {
  left: 70rem;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-animation: move3 5s linear infinite, side3 15s ease-in-out infinite alternate;
          animation: move3 5s linear infinite, side3 15s ease-in-out infinite alternate;
}

.bubble.four {
  right: 50rem;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-animation: move4 15s linear infinite, side4 10s ease-in-out infinite alternate;
          animation: move4 15s linear infinite, side4 10s ease-in-out infinite alternate;
}

@-webkit-keyframes move {
  0% {
    top: 500px;
  }
  100% {
    top: -500px;
  }
}

@keyframes move {
  0% {
    top: 500px;
  }
  100% {
    top: -500px;
  }
}

@-webkit-keyframes side {
  0% {
    margin-left: 0rem;
  }
  100% {
    margin-left: 60rem;
  }
}

@keyframes side {
  0% {
    margin-left: 0rem;
  }
  100% {
    margin-left: 60rem;
  }
}

@-webkit-keyframes move2 {
  0% {
    top: 100rem;
  }
  100% {
    top: 0rem;
  }
}

@keyframes move2 {
  0% {
    top: 100rem;
  }
  100% {
    top: 0rem;
  }
}

@-webkit-keyframes side2 {
  0% {
    margin-left: 10rem;
  }
  100% {
    margin-left: 4rem;
  }
}

@keyframes side2 {
  0% {
    margin-left: 10rem;
  }
  100% {
    margin-left: 4rem;
  }
}

@-webkit-keyframes move3 {
  0% {
    top: 100rem;
  }
  50% {
    top: 50rem;
  }
  100% {
    top: 0rem;
  }
}

@keyframes move3 {
  0% {
    top: 100rem;
  }
  50% {
    top: 50rem;
  }
  100% {
    top: 0rem;
  }
}

@-webkit-keyframes side3 {
  0% {
    margin-right: 0rem;
  }
  100% {
    margin-left: 10rem;
  }
}

@keyframes side3 {
  0% {
    margin-right: 0rem;
  }
  100% {
    margin-left: 10rem;
  }
}

@-webkit-keyframes move4 {
  0% {
    top: 100rem;
  }
  100% {
    top: 0rem;
  }
}

@keyframes move4 {
  0% {
    top: 100rem;
  }
  100% {
    top: 0rem;
  }
}

@-webkit-keyframes side4 {
  0% {
    margin-left: 0rem;
  }
  100% {
    margin-left: 60rem;
  }
}

@keyframes side4 {
  0% {
    margin-left: 0rem;
  }
  100% {
    margin-left: 60rem;
  }
}

.card-container {
  text-align: center;
  -webkit-perspective: 90rem;
          perspective: 90rem;
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: 0.1rem solid rgba(3, 41, 71, 0.548);
}

.card-container-title {
  font-size: 2.5rem;
  text-transform: uppercase;
}

.card-container-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-container-info {
  -webkit-box-shadow: 0rem 2rem 5rem;
          box-shadow: 0rem 2rem 5rem;
  -webkit-transform: rotateX(45deg) scale(0.7);
          transform: rotateX(45deg) scale(0.7);
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
  padding: 1rem;
}

.card-container-info-title {
  font-size: 2rem;
}

.card-container-info:hover {
  -webkit-transform: rotate(0deg) scale(1) translateY(10px);
          transform: rotate(0deg) scale(1) translateY(10px);
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}

.text {
  margin: 1rem 0;
}

.material-icons {
  font-size: 3.5rem !important;
}

#icon-box {
  display: inline-block;
}

#text-hidden {
  display: none;
}

#icon-box:hover ~ #text-hidden {
  display: block;
}

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #5a94c0;
  font-family: "Poppins", sans-serif;
}

.container {
  margin: 2rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1rem;
  font-size: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #fff;
  padding: 0 12rem;
}

.container-top-title {
  font-size: 4rem;
  color: #fff;
  font-family: "Great Vibes", Helvetica, sans-serif;
  letter-spacing: 0.5rem;
  font-weight: bold;
  -webkit-animation: 3s slide 0s forwards;
          animation: 3s slide 0s forwards;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

@-webkit-keyframes slide {
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slide {
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.example-header {
  font-size: 2.5rem;
  text-transform: uppercase;
  margin: 1rem 0;
  padding-top: 1rem;
  border-top: 0.1rem solid rgba(3, 41, 71, 0.548);
}

.example-header:hover,
.card-container-title:hover {
  -webkit-animation: glow 1s infinite alternate;
          animation: glow 1s infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #00d9ff, 0 0 40px #00d9ff, 0 0 50px #00d9ff, 0 0 60px #00d9ff, 0 0 70px #00d9ff;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #3fcbe4, 0 0 40px #3fcbe4, 0 0 50px #3fcbe4, 0 0 60px #3fcbe4, 0 0 70px #3fcbe4, 0 0 80px #3fcbe4;
  }
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #00d9ff, 0 0 40px #00d9ff, 0 0 50px #00d9ff, 0 0 60px #00d9ff, 0 0 70px #00d9ff;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #3fcbe4, 0 0 40px #3fcbe4, 0 0 50px #3fcbe4, 0 0 60px #3fcbe4, 0 0 70px #3fcbe4, 0 0 80px #3fcbe4;
  }
}

.pictures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.picture {
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 1.2rem;
  height: 40rem;
  margin: 1rem;
  padding: 1rem 2rem;
  z-index: 2;
  -webkit-box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.6);
          box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.6);
  -webkit-transition: -webkit-box-shadow 0.3s ease-out;
  transition: -webkit-box-shadow 0.3s ease-out;
  transition: box-shadow 0.3s ease-out;
  transition: box-shadow 0.3s ease-out, -webkit-box-shadow 0.3s ease-out;
}

.picture:hover {
  -webkit-box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.2);
}

.picture.one {
  background-image: url(img/seal.jpg);
}

.picture.two {
  background-image: url(img/jellyfish.jpg);
}

.picture.three {
  background-image: url(img/clown-fish.jpg);
}

p {
  font-size: 1.5rem;
}
/*# sourceMappingURL=style.css.map */