html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #5a94c0;
}

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #5a94c0;
}

/*
.btn,
.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    background-color: red;
    margin: 1rem auto;
    font-size: 2rem;
    border-radius: 10rem;
    transition: all 0.3s;
}
.btn-red{
    background-color: color(red);
    color: #fff;
}

.btn:hover{
    /* transform: scale(2);
     making it bigger */
/*
    transform: translateY(-2px);
    box-shadow: 0 10px 0.5rem rgba(color(black), 0.2)
}

.btn::after{
    content:"";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
*/
html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #5a94c0;
}

.container-top-slides {
  width: 100vw;
  background-image: url(img/ocean.jpg);
  height: 35vh;
  background-size: cover;
  -webkit-animation: slideshow 20s infinite ease-in-out;
          animation: slideshow 20s infinite ease-in-out;
  margin-bottom: 2rem;
}

@-webkit-keyframes slideshow {
  25% {
    background: url(img/reef.jpeg);
    background-size: cover;
  }
  50% {
    background: url(img/wave.jpeg);
    background-size: cover;
  }
  75% {
    background: url(img/ocean2.jpeg);
    background-size: cover;
  }
  100% {
    background: url(img/ocean.jpg);
    background-size: cover;
  }
}

@keyframes slideshow {
  25% {
    background: url(img/reef.jpeg);
    background-size: cover;
  }
  50% {
    background: url(img/wave.jpeg);
    background-size: cover;
  }
  75% {
    background: url(img/ocean2.jpeg);
    background-size: cover;
  }
  100% {
    background: url(img/ocean.jpg);
    background-size: cover;
  }
}

* {
  border: 1px solid red;
}

.container {
  margin: 2rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1rem;
  font-size: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #fff;
  padding: 0 12rem;
}

/* ideas= 
need 5 effects
flying bird
shifting from pictures? in a diff. slideshow yes
writing fancy texts yes
*/
.container-top-title {
  font-size: 4rem;
  color: #fff;
  font-family: "Great Vibes", Helvetica, sans-serif;
  letter-spacing: 0.5rem;
  font-weight: bold;
  -webkit-animation: 3s slide 0s forwards;
          animation: 3s slide 0s forwards;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

@-webkit-keyframes slide {
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slide {
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.example-header {
  font-size: 2.5rem;
  text-transform: uppercase;
  margin: 1rem 0;
}

.pictures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.picture {
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 1.2rem;
  height: 40rem;
  margin: 1rem;
  padding: 1rem 2rem;
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}

.picture:hover {
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.picture:hover p:not(:hover) {
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.picture.one {
  background-image: url(img/seal.jpg);
}

.picture.two {
  background-image: url(img/jellyfish.jpg);
}

.picture.three {
  background-image: url(img/clown-fish.jpg);
}

p {
  font-size: 1.8rem;
}
/*# sourceMappingURL=style.css.map */